### Выгрузка из базы данных

Запустим необходимый код для выгрузки таблицы SQL из базы данных

In [28]:
# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine

db_config = {'user': 'praktikum_student', # имя пользователя
            'pwd': 'Sdf4$2;d-d30pp', # пароль
            'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

engine = create_engine(connection_string) 
query = '''
        SELECT *
        FROM log_raw
        '''

Установим необходимый модуль

In [29]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/anaconda3/lib/python3.9/site-packages (2.9.3)

Выполним запрос и сохраним результат выполнения в переменную

In [30]:
df = pd.io.sql.read_sql(query, con = engine)

In [31]:
df.head()

,event_id,age_segment,event,item_id,item_topic,item_type,source_id,source_topic,source_type,ts,user_id
0,2931262,18-25,show,1793260,Красота,native,8388799,История,publisher,1569349657638,2185026
1,2931277,18-25,show,7465641,Культура,native,5837959,История,publisher,1569349657971,6845238
2,2931285,18-25,show,406073,История,url,2335872,Сад и дача,domain,1569349658408,5244363
3,2931247,26-30,show,752665,Путешествия,native,6963489,Здоровье,publisher,1569349657189,7553074
4,2931278,26-30,click,6843081,Юмор,url,5427748,Семейные отношения,domain,1569349658054,1317585

Вызовем метод info и посмотрим на данные в датафрейме

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30745 entries, 1040597 to 1071341
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   item_topic    30745 non-null  object
 1   source_topic  30745 non-null  object
 2   age_segment   30745 non-null  object
 3   dt            30745 non-null  datetime64[ns]
 4   visits        30745 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 1.4+ MB

Все столбцы соответсвуют типам данных, пропусков нет.
Посмотрим есть ли дубликаты

In [24]:
df.duplicated().sum()

0

Дубликаты отсутствуют, можно выгружать таблицу в csv

Выгрузим данные из таблицы dash_visits в csv файл на локальную машину

In [18]:
df.to_csv(r"/Users/evgeniasamsonova/Documents/script/dash_visits.csv")